<div>
  <%= form_with model: @task do |f| %>
  <p>
    <%= f.label "Action:" %>
    <%= f.text_field :action %>
  </p>

  <p>
    <%= f.label "Description:" %>
  </p>

  <p>

  <%= f.text_area :description, cols: 40, rows: 10 %>
</p>

  <p>
    <%= f.submit action_name %>
    <% end %>
  </p>

</div>
