<h3>Your Tasks</h3>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= task.action%>

      <% if !task.mark_complete %>
          <div class="mark_complete">
          <%= link_to "Mark Complete", complete_path(task.id), method: :patch %>
      <% else %>
          <div class="unmark_complete">
          <%= link_to "Unmark Complete", complete_path(task.id), method: :patch%>
      <% end%>
      </div>

      <%= link_to "View Details", task_path(task.id) %>
      <%= link_to "Delete", task_path(task), method: :delete, data: { confirm: "Do you truly want to remove Task: #{task.action}?" } %>
    </li>
  <% end %>
</ul>

<p>
  <%= link_to "Add new task", new_task_path %>
</p>
