<section class="main_view">
  <h3>Your Tasks</h3>

  <section class='task_list'>
    <% @tasks.each_with_index do |task, task_number| %>
    <h3>
    <%= "Task #{task_number + 1}: #{task.action}"%>
    </h3>


    <ul>
      <li>
        <% if !task.mark_complete %>
        <div class="mark_complete">
          <%= link_to "Mark Complete", complete_path(task.id), method: :patch %>
        <% else %>
        <div class="unmark_complete">
          <%= link_to "Unmark Complete", complete_path(task.id), method: :patch%>
          <% end%>
        </div>
      </li>
      <li>
        <%= link_to "View Details", task_path(task.id) %>
      </li>
      <li>
        <%= link_to "Delete", task_path(task), method: :delete, data: { confirm: "Do you truly want to remove Task: #{task.action}?" } %>
      </li>
    </ul>
    <% end %>

  </section>
  <!-- <p>
  <%= link_to "Add new task", new_task_path %>
  </p> -->
</section>
