<section class="main_view">
  <h3>Your Tasks</h3>

  <section class='task_list'>
    <% @tasks.each_with_index do |task, task_number| %>
      <% if !task.mark_complete %>
      <h4 class="mark_complete">
        <% else %>
      <h4 class="unmark_complete">
      <% end %>
        <%= "#{task_number + 1}: #{task.action}"%>
      </h4>


    <ul>
      <li>
        <% if !task.mark_complete %>
          <%= link_to "Mark Complete", complete_path(task.id), method: :patch %>
        <% else %>
          <%= link_to "Unmark Complete", complete_path(task.id), method: :patch%>
          <% end%>
        </div>
      </li>
      <li>
        <%= link_to "View Details", task_path(task.id) %>
      </li>
      <li>
        <%= link_to "Delete", task_path(task), method: :delete, data: { confirm: "Do you truly want to remove Task: #{task.action}?" } %>
      </li>
    </ul>
    <% end %>

  </section>
  <!-- <p>
  <%= link_to "Add new task", new_task_path %>
  </p> -->
</section>
