<h2>Task <%= @task.id %>:</h2>

<h3><strong>
  <%= @task.action %>:
</strong></h3>
<p>
  Description: <%=@task.description%>
</p>
<p>
  Due: <%=@task.completion_date%>
</p>
<p>
  Edit <%=redirect_to :edit%>
</p>
